Emissionen_Gesamt_(Original).xlsx
Energieanwendungen_Energieeffizienz_Gesamt_(Original).xlsx
Energieanwendungen_Strom_Gesamt_(Original).xlsx
Energieanwendungen_Verkehr_Gesamt_(Original).xlsx
Energieanwendungen_Wärme_Gesamt_(Original).xlsx
Energiepreise_Gesamt_(Original).xlsx
Energieversorgung_Gesamt_(Original).xlsx
ErneuerbareEnergie_Gesamt_(Original).xlsx
Indikatoren_Gesamt_(Original).xlsx
SCWR_Indikatoren_Gesamt_(Original).xlsx
Teilnahmebedingungen.pdf
